<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dinosaurios</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
                <h1>Historia</h1>
        </header>

        <div class="seleccion">
            <a href="index.html"> Inicio</a>
            <a href="historia.html">Historia</a>
            <a href="ejemplares.html">Ejemplares</a>

        </div>
        <div class="historia">
            <h2>ORIGENES </h2>
                <p1>Los dinosaurios emergieron en la Tierra durante el período Triásico, hace aproximadamente 230 millones de años. Provenientes de un ancestro común, estos majestuos>
                <div id="formatimage">
                    <img src="imagenes/origenes.jpg" alt="origenes.jpg" width="500" height="300">
                </div>
            <hr>
            <h2>ÉPOCA DORADA</h2>
                <p1>Durante el Jurásico y el Cretácico, los dinosaurios alcanzaron su máximo esplendor. Poblaron todos los continentes y se adaptaron a una variedad de hábitats, exhi>
                <div id="formatimage">
                    <img src="imagenes/epocadorada.jpg" alt="epocadorada.jpg" width="500" height="300">
</div>
            <hr>
            <h2>EXTICIÓN MASIVA</h2>
                <p1>Hace aproximadamente 65 millones de años, una catástrofe global cambió el curso de la historia de los dinosaurios. Se cree que un impacto de asteroide en la penín>
                <div id="formatimage">
                    <img src="imagenes/extincion.jpg" alt="extincion.jpg" width="500" height="300">
                </div>
            <hr>
            <h2>LEGADO</h2>
                <p1>A pesar de su desaparición, el legado de los dinosaurios perdura hasta nuestros días. Sus fósiles han permitido a los científicos reconstruir su historia y compre>
                <div id="formatimage">
                    <img src="imagenes/legado.jpg" alt="legado.jpg" width="500" height="300">
                </div>
            <hr>
            <div class="seleccion">
                <a href="https://youtu.be/zQ8sZsyMpLk?si=aeHnwt9fzwk1x_PS">DOCUMENTAL SOBRE DINOSAURIOS</a></p2>
            </div>


        </div>


</body>


</html>
